section.objectiveGroup(
	ng-class="{active: logFilters.map === oGroup.mapType, inactive: logFilters.map !== 'all' && logFilters.map !== oGroup.mapType}"
)

	h4(ng-click="logFilters.map=oGroup.mapType") {{mapNamesByType[oGroup.mapType]}}

	.scoreboard
		.row(ng-repeat="(worldIndex, worldConfig) in gw2.wvw.worldsConfig", class="team", ng-class="worldConfig.color")
			.col-xs-16.mapName {{worldsById[active.match[worldConfig.worldId]][active.lang.slug].name}}
			.col-xs-8.text-right.name {{active.matchDetails.maps[oGroup.mapIndex].scores[worldConfig.index] | number}}

	div.objectiveSection(ng-repeat="(sectionIndex, section) in oGroup.sections")
		div(ng-repeat="(objIndex, objectiveId) in section.objectives", class="{{objectivesState[objectiveId].owner | lowercase}}", id="objective{{objectiveId}}")
			gw2-objective(
				columns="['icon', 'direction', 'name', 'timer', 'guildTag']",
				common-name="gw2.wvw.commonNames[active.lang.slug][objectiveId]",
				objective-id="objectiveId",
				objective="objectives[objectiveId]",
				objective-state="objectivesState[objectiveId]",
				objective-meta="gw2.wvw.objectiveMeta[objectiveId]",
				objective-guild="guilds[objectivesState[objectiveId].owner_guild]"
			)